@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=BBH+Sans+Bogle&family=Noto+Sans+Linear+B&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Slab&display=swap');
*{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}
.main{
    width: 100%;
    height: 85vh;
    background-color: #ffc2d1
}
.main h1{
    font-size: 40px;
}
.big-link {
    font-size: 22px;
}
.container h1{
    font-size: 40px;
}
.container h2 {
    font-weight: normal;
    font-size: 40px;
    color: #0077b6
}
.num {
    font-size: 30px;
    background-color: #e29578
}
.main {
    text-align: center;
}

.container {
    text-align: center;
}
.container {
    background-color: #f7e1d7
}
.vk {
    font-size: 30px;
    background-color: #e29578;
}
.text h2{
    font-weight: normal;
    font-size: 25px;
    color: #d00000
}
.osn {
    line-height: 1em;
}


